{
    "minify": false,
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": true
        },
        "minify": {
            "compress": {
              "unused": true
            },
            "mangle": false
          }
    }
}